<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>Shop Homepage - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css" rel="stylesheet"/>

    <!-- Custom CSS -->
    <link th:href="@{/css/shop-homepage.css}" href="../static/css/shop-homepage.css" rel="stylesheet"/>

    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <!--<![endif]&ndash;&gt;-->
</head>
<body>
<form action="/admin" class="container" method="post" th:object="${userDetails}">
    <div class="form-group">
        <label >Email address:</label>
        <input type="email" class="form-control" name="email" style="width: 250px"/>
    </div>
    <div class="form-group">
        <label>Password:</label>
        <input type="password" class="form-control" name="password" style="width: 250px"/>
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
</form>
</body>
</html>