<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>Shop Homepage - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link th:href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css" rel="stylesheet"/>

    <!-- Custom CSS -->
    <link th:href="@{/css/shop-homepage.css}" href="../static/css/shop-homepage.css" rel="stylesheet"/>

    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <!--<![endif]&ndash;&gt;-->


</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Computer Store</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="container-fluid">

            <div class="navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a th:text="${userName}">asdasd</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/user"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                    <li><a href="/user"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>
            </div>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-md-3" >
            <p class="lead">Category</p>
            <div class="list-group" th:each="category : ${allCategory}" >
                <a th:href="'/category?id=' + ${category.getCategoryId()}" class="list-group-item" th:text="${category.getCategoryName()}">
                    Category 1</a>
            </div>
        </div>

        <div class="col-md-9">

            <div class="row carousel-holder">

                <div class="col-md-12">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="item active">
                                <img class="slide-image"
                                     src="http://www.onlineboom.net/wp-content/uploads/2016/06/Online-Marketing-Strategies-for-Small-Business-800x300.jpg" alt=""/>
                            </div>
                            <div class="item">
                                <img class="slide-image"
                                     src="https://blog.resianalytics.com/wp-content/uploads/2017/01/How-to-integrate-external-content-into-your-marketing.png" alt=""/>
                            </div>
                            <div class="item">
                                <img class="slide-image"
                                     src="http://www.yourlightingbrand.com/wp-content/uploads/thumb-cache/postimage-c1aa65fd40b207ce4c53c6e8260a42fe-800x300-100-crop.jpg" alt=""/>
                            </div>
                        </div>
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>
                </div>

            </div>

            <form  th:each="product : ${allProduct}" action="/user" method="post" th:object="${product}">


                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <img  th:icon="${product.getProductImage()}"  alt=""/>
                        <div class="caption">
                            <h4 class="pull-right" th:text="' ৳'+${product.getUnitPrice()}">$24.99</h4>
                            <h6>
                                <input type="hidden" name="productCode" th:value="${product.productCode}"/>
                            </h6>
                            <h4><a href="#" th:text="${product.getProductName()}">First Product</a></h4>
                            <p th:text="${product.getProductDescription()}">See more snippets like this online store item at <a target="_blank" href="http://www.bootsnipp.com">Bootsnipp - http://bootsnipp.com</a>.</p>
                        </div>
                        <div class="ratings">

                            <BUTTON class="btn btn-success pull-right" type="submit">Order</BUTTON>
                            <!--<div class="col-lg-2">-->
                            <div class="input-group">
                                <span class="input-group-btn">
                                        <button type="button" class="quantity-left-minus btn btn-danger btn-number"  data-type="minus" data-field="">
                                          <span class="glyphicon glyphicon-minus"></span>
                                        </button>
                                    </span>
                                <input type="text"  name="quentity" class="form-control input-number" value="1"/>
                                <span class="input-group-btn">
                                        <button type="button" class="quantity-right-plus btn btn-success btn-number" data-type="plus" data-field="">
                                            <span class="glyphicon glyphicon-plus"></span>
                                        </button>
                                    </span>
                            </div>
                            <!--</div>-->
                        </div>
                    </div>
                </div>
            </form>

        </div>

    </div>

</div>
<!-- /.container -->

<div class="container">

    <hr/>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Your Website 2014</p>
            </div>
        </div>
    </footer>

</div>
<!-- /.container -->

<!-- jQuery -->
<script th:src="@{/jquery/jquery.min.js}" src="../static/jquery/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script th:src="@{/js/bootstrap.min.js}" src="../static/js/bootstrap.min.js"></script>

</body>

</html>
