<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>SB Admin - Bootstrap Admin Template</title>

    <!-- jQuery -->
    <script th:src="@{/jquery/jquery.min.js}" src="../static/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script th:src="@{/js/bootstrap.min.js}" src="../static/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>

    <!-- Bootstrap Core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css" rel="stylesheet"/>

    <!-- Custom CSS -->
    <link th:href="@{/css/sb-admin.css}" href="../static/css/sb-admin.css" rel="stylesheet"/>

    <!-- Custom Fonts -->
    <link th:href="@{/css/font-awesome.min.css}" href="../static/css/font-awesome.min.css" rel="stylesheet"
          type="text/css"/>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
<div id="wrapper">
    <div class="container">

        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Add User/SalesMan</h4>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <form class="form-horizontal" action="/manageUser" method="post">

                                <!--addName-->
                                <div class="form-group">
                                    <label class="control-label col-sm-2" th:for="userName">Name:</label>
                                    <div class="col-sm-6">
                                        <input th:id="userName" th:name="userName"
                                               class="form-control" placeholder="Enter Name..."/>
                                    </div>
                                </div>

                                <!--add Email-->
                                <div class="form-group">
                                    <label class="control-label col-sm-2" th:for="email">E-mail:</label>
                                    <div class="col-sm-6">
                                        <input th:id="email" th:name="email"
                                               class="form-control" placeholder="Enter Email..."/>
                                    </div>
                                </div>

                                <!--add ContactNumber-->
                                <div class="form-group">
                                    <label class="control-label col-sm-2"
                                           th:for="contactNumber">Contact Number:</label>
                                    <div class="col-sm-6">
                                        <input th:id="contactNumber" th:name="contactNumber"
                                               class="form-control" placeholder="Enter Contact Number..."/>
                                    </div>
                                </div>

                                <!--add Password-->
                                <div class="form-group">
                                    <label class="control-label col-sm-2" th:for="password">Password:</label>
                                    <div class="col-sm-6">
                                        <input th:id="password" th:name="password"
                                               class="form-control" placeholder="Enter Password..."/>
                                    </div>
                                </div>


                                <!--add Image-->
                                <div class="form-group">
                                    <label th:for="userImage" class="control-label col-sm-2">Image: </label>
                                    <div class="col-sm-6">
                                        <input class="form-control"
                                               th:id="userImage"
                                               th:name="userImage" type="file"/>
                                        <!--<span th:errors="*{productImage}" class="error"></span>-->
                                    </div>
                                </div>

                                <!--add Role-->
                                <div class="form-group">
                                    <label th:for="role" class="control-label col-sm-2">Role:</label>
                                    <div class="col-sm-6">
                                        <select th:id="role" th:name="role" class="btn">
                                            <option th:each="userRole : ${role}"
                                                    th:text="${userRole.role}"
                                                    th:value="${userRole}">Role
                                            </option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <div class="checkbox">
                                            <label><input type="checkbox" name="checkbox"/> Active</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn btn-success">Submit</button>
                                    </div>
                                </div>
                                <!--</div>-->
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">SB Admin</a>
        </div>
        <!-- Top Menu Items -->
        <ul class="nav navbar-right top-nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> <b
                        class="caret"></b></a>
                <ul class="dropdown-menu message-dropdown">
                    <li class="message-preview">
                        <a href="#">
                            <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt=""/>
                                    </span>
                                <div class="media-body">
                                    <h5 class="media-heading"><strong>John Smith</strong>
                                    </h5>
                                    <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="message-preview">
                        <a href="#">
                            <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt=""/>
                                    </span>
                                <div class="media-body">
                                    <h5 class="media-heading"><strong>John Smith</strong>
                                    </h5>
                                    <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="message-preview">
                        <a href="#">
                            <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt=""/>
                                    </span>
                                <div class="media-body">
                                    <h5 class="media-heading"><strong>John Smith</strong>
                                    </h5>
                                    <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="message-footer">
                        <a href="#">Read All New Messages</a>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> <b
                        class="caret"></b></a>
                <ul class="dropdown-menu alert-dropdown">
                    <li>
                        <a href="#">Alert Name <span class="label label-default">Alert Badge</span></a>
                    </li>
                    <li>
                        <a href="#">Alert Name <span class="label label-primary">Alert Badge</span></a>
                    </li>
                    <li>
                        <a href="#">Alert Name <span class="label label-success">Alert Badge</span></a>
                    </li>
                    <li>
                        <a href="#">Alert Name <span class="label label-info">Alert Badge</span></a>
                    </li>
                    <li>
                        <a href="#">Alert Name <span class="label label-warning">Alert Badge</span></a>
                    </li>
                    <li>
                        <a href="#">Alert Name <span class="label label-danger">Alert Badge</span></a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">View All</a>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user" th:text="${name}"></i > <b class="caret" ></b></a>
                <ul class="dropdown-menu">

                    <li>
                        <a href="/admin"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                    </li>
                </ul>
            </li>
        </ul>
        <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav side-nav">
                <li>
                    <a href="/admin"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                </li>
                <li class="active">
                    <a href="/tables"><i class="glyphicon glyphicon-shopping-cart"></i> Manage Product</a>
                </li>
                <li>
                    <a href="/manageUser"><i class="glyphicon glyphicon-user"></i> Manage User</a>
                </li>
                <li>
                    <a href="/manageOrder"><i class="glyphicon glyphicon-shopping-cart"></i> Manage Order</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>

    <div id="page-wrapper">

        <div class="container-fluid">

            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        Tables
                    </h1>
                    <ol class="breadcrumb">
                        <li>
                            <i class="fa fa-dashboard"></i> <a href="index.html">Dashboard</a>
                        </li>
                        <li class="active">
                            <i class="fa fa-table"></i> Tables
                        </li>
                        <li class="active">
                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal">Add
                                User/SalesMan
                            </button>
                        </li>
                    </ol>
                </div>
            </div>
            <!-- /.row -->

            <div class="row">

                <div class="col-lg-12">
                    <h2>Users/Salesman</h2>
                    <div class="table-responsive">

                        <table class="table table-bordered table-hover table-striped">
                            <thead>
                            <tr>
                                <th>Image</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Contact Number</th>
                                <th>Role</th>
                                <th>Password</th>
                                <th>Enable</th>
                                <th class="text-center">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="userDetails : ${userList}">
                                <td>
                                    <img class="img-responsive"  th:src="*{userDetails.userImage}"/>
                                </td>
                                <td th:text="${userDetails.userName}">1265</td>
                                <td th:text="${userDetails.email}">32.3%</td>
                                <td th:text="${userDetails.contactNumber}">$321.33</td>
                                <td th:text="${userDetails.role}">$321.33</td>
                                <td th:text="${userDetails.password}">$321.33</td>
                                <td th:text="${userDetails.is_enable()}">$321.33</td>

                                <td style="width: 150px">
                                    <div class="btn-group btn-group-sm">
                                        <form method="get" action="/editUser" class="btn btn-success">
                                            <button name="id" class="btn-success"
                                                    th:value="${userDetails.id}"
                                                    th:id="${userDetails.id}"
                                                    type="submit">edit
                                            </button>
                                        </form>
                                        <form method="get" action="/deleteUser" class="btn btn-danger">
                                            <button name="id" class="btn-danger"
                                                    th:value="${userDetails.id}"
                                                    th:id="${userDetails.id}"
                                                    type="submit">Delete
                                            </button>
                                        </form>
                                    </div>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->
</div>
<!-- /#wrapper -->
</body>

</html>
